<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>CComEX | Home</title>
</head>
<body>
    <nav class="navbar">
        <strong>EB - PORTAL</strong>
        <div>
            <a href="/">Home</a>
            <% if (user) { %>
                <% if (user.cargo === 'Criador' || user.cargo === 'Administrador') { %>
                    <a href="/admin" style="color: gold;">PAINEL ADMIN</a>
                    <a href="/publicar" style="color: gold;">POSTAR</a>
                <% } %>
                <a href="/logout">Sair</a>
            <% } else { %>
                <a href="/login">Entrar</a>
            <% } %>
        </div>
    </nav>

    <div class="container">
        <h1>Últimas Notícias</h1>
        <% noticias.forEach(n => { %>
            <div class="card-noticia">
                <h2><%= n.titulo %></h2>
                <p><%= n.subtitulo %></p>
                <p><small>Por: <%= n.autor %></small></p>
                <a href="/materia/<%= n.id %>">Ler Tudo</a>

                <% if (user && (user.cargo === 'Criador' || user.cargo === 'CComEX')) { %>
                    <form action="/admin/excluir-noticia/<%= n.id %>" method="POST" style="margin-top:10px;">
                        <button type="submit" style="background:red; color:white; border:none; cursor:pointer; padding:5px;">🗑️ APAGAR MATÉRIA</button>
                    </form>
                <% } %>
            </div>
        <% }) %>
    </div>
</body>
</html>
