<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Portal CComEX</title>
</head>
<body>
    <nav class="navbar">
        <strong style="font-size: 1.4rem;">CComEX</strong>
        <div>
            <a href="/">Notícias</a>
            <% if (user) { %>
                <% if (user.cargo === 'Criador' || user.cargo === 'Administrador') { %>
                    <a href="/admin" style="color: var(--gold);">ADMIN</a>
                    <a href="/publicar" style="color: var(--gold);">POSTAR</a>
                <% } %>
                <a href="/logout">Sair</a>
            <% } else { %>
                <a href="/login">Entrar</a>
            <% } %>
        </div>
    </nav>

    <div class="container">
        <h1 style="color: var(--verde-eb);">Boletim de Notícias</h1>
        <% noticias.forEach(n => { %>
            <div class="card-noticia">
                <h2><%= n.titulo %></h2>
                <p style="color: #555;"><%= n.subtitulo %></p>
                <p style="font-size: 0.8rem; color: gray;">Autor: <%= n.autor %> | <%= n.data %></p>
                <a href="/materia/<%= n.id %>" style="color: var(--verde-claro); font-weight: bold;">Lendo Matéria...</a>

                <% if (user && (user.cargo === 'Criador' || user.cargo === 'CComEX')) { %>
                    <form action="/admin/excluir-noticia/<%= n.id %>" method="POST">
                        <button type="submit" class="btn-apagar">🗑️ EXCLUIR MATÉRIA</button>
                    </form>
                <% } %>
            </div>
        <% }) %>
    </div>
</body>
</html>
